<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class='container'>
        <header>
            <nav>
                <h1 class='nav-title p-2 m-4'>Tech Blog
                    <span role="img" class='m-4' aria-label="writing">✍️</span>
                </h1>
                <div class='navbar mt-2'>
                    {{#if loggedIn}}
                    <a href="/" class='nav-item nav-link active' aria-current="true">homepage</a>
                    <a href="/dashboard" class='nav-item nav-link active' aria-current="true">dashboard</a>
                    <a href="/dashboard/create/" class='nav-item nav-link active' aria-current="true">create a blog</a>
                    <button id='logout' class='button-logout'>logout</button>
                    {{else}}
                    <a href="/" class='nav-item nav-link active' aria-current="true">homepage</a>
                    <a href="/login" class='button-login'>login</a>
                    {{/if}}
                </div>
            </nav>
        </header>
    <main class="container">
        {{{ body }}}
    </main>

    <footer class='container pb-2'>
        <div class='col-12 d-flex justify-content-between'>
            <p>
                <a href='/'>homepage</a>{{#if loggedIn}} |
                <a href='/dashboard/'>dashboard</a> |
                <a href='/dashboard/create/'>create a new blog</a>
                {{else}}
                <a href='/login/'>login</a>
                {{/if}}
            </p>
            <p>
                <strong> Tech Blog</strong> by <a href='https://github.com/saulwade/tech-blog'>Saul Wade</a> | 
            </p>
        </div>
    </footer>
</div>

{{#if loggedIn}}
<script src='/js/logout.js'></script>
{{/if}}

</body>
</html>