{{#each blogs as |blog|}}

    {{>blog-info blog}}

</div>

{{else}}
    <!-- Else section, displayed when the list is empty -->
    <h6 class="pb-5 text-center font-italic">There are currently no blogs</h6>

{{/each}}
